{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About This Project</h1>
          <span class="subheading">For whom and for what.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          I have built this website to learn the Python web framework 'Flask',
          to understand how to deploy websites and how to integrate external
          databases.
        </p>
        <p>
          Recently I've taken a great interest in how the Python programming
          language is changing and I wanted to have a platform to share that
          interest.
        </p>
        <p>
          The goal is to publish one article daily, excluding weekends, and to
          continually improve this website and add new features.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
