{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead bg-opacity-50"
  style="background-image: url('../static/assets/img/home-bg.jpg');"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-12">
        <div class="site-heading">
          <h1 >Python Enthusiast's Blog</h1>
          <span class="subheading">What's new in python and much more!.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
<!--    <div class="col-md-10 col-lg-8 col-xl-7">-->
    <div class="col-md-10 col-sm-12">
      <!-- Post preview-->
      {% if order: %}
      <form action="{{ url_for('get_all_posts', search=True, order=order) }}" method="POST">
      {% else: %}
      <form action="{{ url_for('get_all_posts', search=True) }}" method="POST">
      {% endif %}
      <div class="input-group mb-3">
          <input type="search" class="form-control" aria-label="Text input with dropdown button" placeholder="Search Posts" name="search_bar">
          <div class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" value="f">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
              </svg>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="javascript:void(0)">Order By</a></li>
              <li><hr class="dropdown-divider"></li>
              {% if search: %}
              <li><a class="dropdown-item" href="{{ url_for('get_all_posts', order='date DESC', search=search) }}">Newest</a></li>
              <li><a class="dropdown-item" href="{{ url_for('get_all_posts', order='date ASC', search=search) }}">Oldest</a></li>
              <li><a class="dropdown-item" href="{{ url_for('get_all_posts', order='num_comments DESC', search=search) }}">Most Popular</a></li>
              {% else: %}
              <li><a class="dropdown-item" href="{{ url_for('get_all_posts', order='date DESC') }}">Newest</a></li>
              <li><a class="dropdown-item" href="{{ url_for('get_all_posts', order='date ASC') }}">Oldest</a></li>
              <li><a class="dropdown-item" href="{{ url_for('get_all_posts', order='num_comments DESC') }}">Most Popular</a></li>
              {% endif %}
            </ul>
          </div>

      </div>
      </form>
      {% for post in all_posts %}
      <div class="post-preview row my-animation">
        <div class="col">
          <a href="{{ url_for('show_post', post_id=post['id']) }}">
            <h2 class="post-title">{{ post['title'] }}</h2>
            <h3 class="post-subtitle">{{ post['subtitle'] }}&nbsp;&nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
  <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
  <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
</svg> {{ post['views'] }}&nbsp;&nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-dots" viewBox="0 0 16 16">
                          <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                          <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
            </svg>&nbsp;{{ post['num_comments'] }}</h3>
          </a>
          <p class="post-meta">
          Posted by
          <!-- post.author.name is now a User object -->
          <a href="{{ url_for('dashboard', user_id=post['name']) }}">{{post['name']}}</a>
          on {{post['date']}}
          <!-- Only show delete button if user id is 1 (admin user) -->
          {% if current_user.id == 1: %}
          <a href="{{url_for('delete_post', post_id=post['id']) }}">✘</a>
          {% endif %}
          </p>
        </div>
        <div class="col-md-4 col-sm-12">
          <img class="mini-image" src="{{ post['img_url'] }}" style="float: right;">
        </div>
      </div>
      <!-- Divider-->
      <hr class="my-4" />
      {% endfor %}

      <!-- New Post -->
      <!-- Only show Create Post button if user id is 1 (admin user) -->
      {% if current_user.id == 1: %}
      <div class="d-flex justify-content-end mb-4">
        <a
          class="btn btn-primary float-right"
          href="{{url_for('add_new_post')}}"
          >Create New Post</a
        >
      </div>
      {% elif current_user.is_authenticated: %}
      <div class="d-flex justify-content-end mb-4">
        <a
          class="btn btn-primary float-right"
          href="{{url_for('new_submission')}}"
          >Submit a New Post</a
        >
      </div>
      {% endif %}

      <!-- Pager-->
      <div class="d-flex justify-content-end mb-4">
      {% if depth and order: %}
        <a id="show-more-posts" class="btn btn-secondary text-uppercase" href="{{ url_for('get_all_posts', depth=depth+1, order=order) }}">Show More →</a>
      {% elif order: %}
        <a id="show-more-posts" class="btn btn-secondary text-uppercase" href="{{ url_for('get_all_posts', depth=1, order=order) }}">Show More →</a>
      {% elif depth: %}
        <a id="show-more-posts" class="btn btn-secondary text-uppercase" href="{{ url_for('get_all_posts', depth=depth+1) }}">Show More →</a>
      {% else: %}
        <a id="show-more-posts" class="btn btn-secondary text-uppercase" href="{{ url_for('get_all_posts', depth=1) }}">Show More →</a>
      {% endif %}
      </div>
    </div>
  </div>
</div>
<!--<div class="container px-4 px-lg-5">-->
<!--  <div class="row gx-4 gx-lg-5 justify-content-center">-->
<!--    <div class="col-md-10 col-lg-8 col-xl-7">-->
<!--      {% for post in all_posts %}-->
<!--      <div><img src="{{ post['img_url'] }}"></div>-->

<!--      {% endfor %}-->
<!--</div>-->

{% include "footer.html" %}
